<nav class="navbar navbar-dark bg-dark mb-0">
  <div class="container">
    <a class="navbarA-brand" href="/">Opros</a>
    <a class="navbarB-brand" href="/">Hub</a>
    <a class="navbarC-brand" href="/">| Онлайн сервис для проведения опросов</a>
  </div>
</nav>
<style>
  a:hover {
    color: black;
  }
  .navbarA-brand {
    font-size: 30px;
    font-family: fantasy;
    background: #ff9214;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
  }
  .navbarB-brand {
    text-decoration: none;
    font-family: fantasy;
    color: black;
    margin-right: auto;
    background: #ff9214;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 5px;
  }
  .navbarC-brand {
    font-size: 35px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #ff9214;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    color: #081935;
    margin-right: 470px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 75px;
  }
</style>
